footer {
    background: linear-gradient(180deg, #0B0B0B, #300000)
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.text-body-secondary {
    color: white !important;
    font-family: 'Cizel', serif;
}

#logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}