/* Cabeçalho */
#cabeçalho {
    display: flex;
    position: relative;
    background-color: brown;
}

#pagina_atual {
    margin-right: 10px;
}

.navegar {
    margin-right: 10px;
    justify-items: left;
}

#logo_cabeçalho {
    margin-left: auto;
}

/* Rodapé */

#rodapé {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    background-color: brown;
}

.endereço_rodapé {
    grid-column: 1;
}

.contatos_rodapé {
    grid-column: 2;
}

.texto_rodapé {
    grid-column: 3;
}