<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don Jorge</title>
    <link href="../static/historia-style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="coluna">
            <ul>
                <li>NOSSA HISTÓRIA</li>
            </ul>
            <h1>Tradição que vem do fogo</h1>
            <p>Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</p>
        </div>
        <div class="image-container">
            <img alt="Imagem da forja Don Jorge" src="../static/Teste-imagem.png">
        </div>
    </div>
</body>
</html>