<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
            <link href="../static/style.css" rel="stylesheet">
            <title>Don Jorge</title>
        </head>

        <body>
            <div id="cabeçalho">
                <h1 id="pagina_atual"></h1>
                <button class="navegar" onclick="window.location.href='/'">Home</button>
                <button class="navegar" onclick="window.location.href='/sobre'">Sobre</button>
                <button class="navegar" onclick="window.location.href='/produtos'">Produtos</button>
                <img id="logo_cabeçalho" class="navegar" alt="Logo" src="">
            </div>
            <div id="rodapé">
                <h1 class="endereço_rodapé">ENDEREÇO</h1>
                <p class="endereço_rodapé">Rua Geraldo dos Santos, 259 - Júlio de Castilhos - RS</p>
                <h1 class="contatos_rodapé">FORMAS DE CONTATO</h1>
                <p class="contatos_rodapé">
                    Email: 
                    <a href="jeanhenriquehoefling@gmail.com">jeanhenriquehoefling@gmail.com</a>
                </p>
                <img class="contatos_rodapé" alt="Icone do Whatsapp" href="" src="">
                <img class="contatos_rodapé" alt="Icone do Instagram" href="" src="">
                <h1 class="texto_rodapé">MARCELO CANCIAN - CEO</h1>
                <p class="texto_rodapé">texto...</p>
                <h2 class="texto_rodapé">-Marcelo Cancian</h2>
            </div>
            {% block body %}
            {% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
            <script src="../static/script.js"></script>
        </body>
    </html>