<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link href="../static/style.css" rel="stylesheet">
            <title>Don Jorge</title>
        </head>

        <body>
            <div id="cabeçalho">
                <h1 id="pagina_atual"></h1>
                <button class="navegar" onclick="window.location.href='/'">Home</button>
                <button class="navegar" onclick="window.location.href='/sobre'">Sobre</button>
                <button class="navegar" onclick="window.location.href='/produtos'">Produtos</button>
                <img id="logo_cabeçalho" class="navegar" alt="Logo" src="">
            </div>
            {% block body %}
            {% endblock %}
            <script src="../static/script.js"></script>
        </body>
    </html>