<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="container produtos">
        <ul>
            <li><h1>NOSSOS PRODUTOS</h1></li>
        </ul>
        <h2>Feito à mão. Feito para durar.</h2>
        <div class="cards">
            <div class="card-produto">
                <img src="../assets/IMG-GARFO.png">
                <h3>Garfo</h3>
                <p>Resistente e ideal para manuseio firme da carne.</p>
            </div>
            <div class="card-produto">
                <img src="../assets/IMG-VIRADOR.png">
                <h3>Virador</h3>
                <p>Precisão e segurança na hora de assar.</p>
            </div>
            <div class="card-produto">
                <img src="../assets/IMG-MEXEDOR.png">
                <h3>Mexedor</h3>
                <p>Controle total do fogo com praticidade</p>
            </div>
        </div>
        <button class="btn">Ver catálogo completo -></button>
    </div>
</body>
</html>