<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="container sobre">
        <div class="sobre-texto">
            <ul>
                <li><h1>NOSSA HISTÓRIA</h1></li>
                <h2>Tradição que vem do fogo</h2>
                <p>
                    Essa marca tem um valor enorme pra mim, pois ela é o símbolo de um legado deixado pelo meu saudoso pai, o homem que ao lado de minha mãe me ensinou que o trabalho e a honestidade sempre vão me recompensar! E tenho orgulho de mostrar essa marca com as mãos sujas de um trabalho digno e mostrar que estou levando a sério todos os ensinamentos que me ele me deixou! Don Jorge, mais que uma marca um legado de trabalho...
                </p>
            </ul>
        </div>
    </div>
</body>
</html>